docs/integrations/n8n-voice-assistant-ollama.json
{
  "name": "🤖 Текстовый ассистент: HA + Ollama (локально, приватно)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {
          "download": false,
          "userIds": "YOUR_TELEGRAM_USER_ID"
        }
      },
      "name": "Telegram: Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "id": "telegram-trigger-001",
      "webhookId": "ollama-assistant-webhook",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Прием текстовых сообщений от пользователя. ЗАМЕНИТЕ: YOUR_TELEGRAM_USER_ID, YOUR_TELEGRAM_CREDENTIAL_ID"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.message.text;\nconst chatId = $input.item.json.message.chat.id;\n\nif (!text) {\n  return [{ json: { error: true, text: '⚠️ Отправьте текстовое сообщение', chat_id: chatId } }];\n}\n\nif (text === '/help' || text === '/start') {\n  const helpText = `🤖 *Текстовый ассистент Home Assistant + Ollama*\\n\\n*Команды:*\\n• Включи/выключи свет [комната]\\n• Сделай теплее в [комната]\\n• Запусти сцену [название]\\n• Какая температура?\\n\\n*Системные:*\\n/help - справка\\n/clear - очистить историю\\n\\n📝 *Примеры:*\\n• \\\"Включи свет на кухне\\\"\\n• \\\"Сделай 22 градуса\\\"\\n• \\\"Запусти вечерний режим\\\"\\n\\n🔒 *100% локально - Ollama phi3:mini*`;\n  return [{ json: { isCommand: true, chat_id: chatId, response: helpText } }];\n}\n\nif (text === '/clear') {\n  return [{ json: { isCommand: true, chat_id: chatId, response: '🗑️ История очищена!' } }];\n}\n\nreturn [{ json: { isCommand: false, text: text, chat_id: chatId } }];"
      },
      "name": "Check: Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "id": "check-commands-001",
      "notes": "Проверяет специальные команды (/help, /clear)"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCommand }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If: Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 400],
      "id": "if-is-command-001"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram: Send Command Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 280],
      "id": "telegram-send-command-001",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Отправка ответа на системные команды"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "chat_id",
              "name": "chat_id",
              "value": "={{ $json.chat_id }}",
              "type": "string"
            },
            {
              "id": "user_message",
              "name": "user_message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare: Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [900, 520],
      "id": "prepare-context-001",
      "notes": "Подготовка контекста для AI Agent"
    },
    {
      "parameters": {
        "url": "http://YOUR_HA_IP:8123/api/states",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "HA: Get All States",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 520],
      "id": "ha-get-states-001",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HA_CREDENTIAL_ID",
          "name": "Home Assistant API"
        }
      },
      "notes": "Получение всех состояний устройств из HA. ЗАМЕНИТЕ: YOUR_HA_IP, YOUR_HA_CREDENTIAL_ID"
    },
    {
      "parameters": {
        "jsCode": "const states = $input.item.json;\nconst devices = {};\n\n// Фильтр: только важные устройства\nconst allowedDomains = ['light', 'switch', 'climate', 'sensor', 'binary_sensor', 'scene'];\n\nstates.forEach(entity => {\n  const domain = entity.entity_id.split('.')[0];\n  \n  if (allowedDomains.includes(domain)) {\n    devices[entity.entity_id] = {\n      name: entity.attributes.friendly_name || entity.entity_id,\n      state: entity.state,\n      domain: domain,\n      attributes: entity.attributes\n    };\n  }\n});\n\nreturn [{ json: { devices: devices } }];"
      },
      "name": "Filter: Devices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 520],
      "id": "filter-devices-001",
      "notes": "Фильтрация только нужных устройств"
    },
    {
      "parameters": {
        "model": "phi3:mini",
        "options": {
          "baseURL": "http://YOUR_OLLAMA_IP:11434",
          "temperature": 0.7,
          "maxTokens": 500
        }
      },
      "name": "Ollama: Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [1560, 640],
      "id": "ollama-model-001",
      "notes": "НАСТРОЙТЕ: YOUR_OLLAMA_IP (IP LXC контейнера с Ollama)"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare: Context').item.json.chat_id }}",
        "contextWindowLength": 10
      },
      "name": "Memory: Window Buffer",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1560, 760],
      "id": "memory-buffer-001",
      "notes": "Память диалога (10 последних сообщений)"
    },
    {
      "parameters": {
        "name": "turn_on_light",
        "description": "Включить свет. Параметры: entity_id (например light.kitchen)",
        "workflowId": "YOUR_WORKFLOW_ID_TURN_ON"
      },
      "name": "Tool: Turn On Light",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 880],
      "id": "tool-turn-on-001",
      "notes": "СОЗДАЙТЕ отдельный workflow для включения света"
    },
    {
      "parameters": {
        "name": "turn_off_light",
        "description": "Выключить свет. Параметры: entity_id (например light.kitchen)",
        "workflowId": "YOUR_WORKFLOW_ID_TURN_OFF"
      },
      "name": "Tool: Turn Off Light",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1000],
      "id": "tool-turn-off-001",
      "notes": "СОЗДАЙТЕ отдельный workflow для выключения света"
    },
    {
      "parameters": {
        "name": "set_temperature",
        "description": "Установить температуру климата. Параметры: entity_id, temperature (число)",
        "workflowId": "YOUR_WORKFLOW_ID_CLIMATE"
      },
      "name": "Tool: Set Temperature",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1120],
      "id": "tool-climate-001",
      "notes": "СОЗДАЙТЕ отдельный workflow для климата"
    },
    {
      "parameters": {
        "name": "activate_scene",
        "description": "Активировать сцену. Параметры: entity_id (например scene.evening)",
        "workflowId": "YOUR_WORKFLOW_ID_SCENE"
      },
      "name": "Tool: Activate Scene",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1240],
      "id": "tool-scene-001",
      "notes": "СОЗДАЙТЕ отдельный workflow для сцен"
    },
    {
      "parameters": {
        "name": "get_sensor_state",
        "description": "Получить состояние сенсора. Параметры: entity_id (например sensor.temperature)",
        "workflowId": "YOUR_WORKFLOW_ID_SENSOR"
      },
      "name": "Tool: Get Sensor",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1360],
      "id": "tool-sensor-001",
      "notes": "СОЗДАЙТЕ отдельный workflow для получения данных сенсоров"
    },
    {
      "parameters": {
        "text": "={{ $('Prepare: Context').item.json.user_message }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты русскоязычный ассистент умного дома. У тебя есть доступ к следующим устройствам Home Assistant:\n\n{{ $('Filter: Devices').item.json.devices | json }}\n\nОтвечай КРАТКО и по делу. Используй доступные инструменты для управления устройствами. Всегда указывай точный entity_id из списка устройств."
        }
      },
      "name": "Agent: AI Assistant",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1780, 520],
      "id": "agent-assistant-001",
      "notes": "Langchain Agent с Ollama, Memory и 5 HA Tools"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json.output;\nconst chatId = $('Prepare: Context').item.json.chat_id;\n\nreturn [{\n  json: {\n    chat_id: chatId,\n    text: response,\n    parse_mode: 'Markdown'\n  }\n}];"
      },
      "name": "Format: Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 520],
      "id": "format-response-001",
      "notes": "Форматирование ответа для Telegram"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram: Send AI Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2220, 520],
      "id": "telegram-send-ai-001",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      },
      "notes": "Отправка ответа от AI в Telegram"
    }
  ],
  "connections": {
    "Telegram: Trigger": {
      "main": [
        [
          {
            "node": "Check: Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: Commands": {
      "main": [
        [
          {
            "node": "If: Is Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Command?": {
      "main": [
        [
          {
            "node": "Telegram: Send Command Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare: Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare: Context": {
      "main": [
        [
          {
            "node": "HA: Get All States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Get All States": {
      "main": [
        [
          {
            "node": "Filter: Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Devices": {
      "main": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama: Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Memory: Window Buffer": {
      "ai_memory": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Turn On Light": {
      "ai_tool": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Turn Off Light": {
      "ai_tool": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Set Temperature": {
      "ai_tool": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Activate Scene": {
      "ai_tool": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get Sensor": {
      "ai_tool": [
        [
          {
            "node": "Agent: AI Assistant",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent: AI Assistant": {
      "main": [
        [
          {
            "node": "Format: Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format: Response": {
      "main": [
        [
          {
            "node": "Telegram: Send AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-10T12:00:00.000Z",
      "updatedAt": "2025-10-10T12:00:00.000Z",
      "id": "ollama-home-assistant",
      "name": "ollama"
    },
    {
      "createdAt": "2025-10-10T12:00:00.000Z",
      "updatedAt": "2025-10-10T12:00:00.000Z",
      "id": "home-assistant-local",
      "name": "home-assistant"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "your-n8n-instance"
  },
  "versionId": "voice-assistant-ollama-v1",
  "triggerCount": 1,
  "createdAt": "2025-10-10T12:00:00.000Z",
  "updatedAt": "2025-10-10T12:00:00.000Z"
}
