docs/integrations/n8n-ha-monitoring-assistant-gigachat.json
{
  "name": "🏠 Персональный ассистент мониторинга HA с GigaChat (с памятью)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {
          "download": false,
          "userIds": "YOUR_TELEGRAM_USER_ID"
        }
      },
      "name": "Telegram: Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 400],
      "id": "telegram-trigger-monitor",
      "webhookId": "ha-monitor-webhook",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Personal"
        }
      },
      "notes": "ЗАМЕНИТЕ: YOUR_TELEGRAM_USER_ID (ваш Telegram ID), YOUR_TELEGRAM_CREDENTIAL_ID. Создайте отдельного бота через @BotFather"
    },
    {
      "parameters": {
        "jsCode": "const text = $input.item.json.message.text;\nconst chatId = $input.item.json.message.chat.id;\nconst userName = $input.item.json.message.from.first_name || 'Пользователь';\n\nif (!text) {\n  return [{ json: { error: true, text: '⚠️ Отправьте текстовое сообщение', chat_id: chatId } }];\n}\n\nif (text === '/help' || text === '/start') {\n  const helpText = `🏠 *Персональный ассистент мониторинга дома*\\n\\n*Я помогу узнать:*\\n• Температуру и влажность в комнатах\\n• Состояние датчиков (движение, двери, окна)\\n• Статус климатических систем\\n• История событий\\n• Потребление энергии\\n\\n*Особенности:*\\n✨ Помню контекст диалога (10 сообщений)\\n🧠 Понимаю продолжения вопросов\\n📊 Анализирую данные от устройств\\n\\n*Системные команды:*\\n/help - эта справка\\n/clear - очистить память диалога\\n\\n💡 *Примеры вопросов:*\\n• \\\"Какая температура в спальне?\\\"\\n• \\\"А в гостиной?\\\" (продолжение)\\n• \\\"Есть ли движение в доме?\\\"\\n• \\\"Какие окна открыты?\\\"\\n• \\\"Покажи все проблемные датчики\\\"\\n\\n🤖 *GigaChat + Memory = умный диалог!*`;\n  return [{ json: { isCommand: true, chat_id: chatId, response: helpText } }];\n}\n\nif (text === '/clear') {\n  return [{ json: { isCommand: true, chat_id: chatId, response: '🗑️ Память диалога очищена! Можете начать новую беседу.' } }];\n}\n\nreturn [{ json: { isCommand: false, text: text, chat_id: chatId, user_name: userName } }];"
      },
      "name": "Check: System Commands",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400],
      "id": "check-commands-monitor",
      "notes": "Обработка системных команд /help и /clear"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isCommand }}",
              "value2": true
            }
          ]
        }
      },
      "name": "If: System Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 400],
      "id": "if-system-command"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chat_id }}",
        "text": "={{ $json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram: Send System Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 280],
      "id": "telegram-system-response",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Personal"
        }
      }
    },
    {
      "parameters": {
        "url": "http://YOUR_HA_IP:8123/api/states",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "HA: Get All States",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 520],
      "id": "ha-states-monitor",
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_HA_CREDENTIAL_ID",
          "name": "Home Assistant API"
        }
      },
      "notes": "ЗАМЕНИТЕ: YOUR_HA_IP, YOUR_HA_CREDENTIAL_ID. Получает все состояния устройств из HA"
    },
    {
      "parameters": {
        "jsCode": "// Фильтруем только важные устройства для мониторинга\nconst states = $input.item.json;\nconst userData = $('Check: System Commands').first().json;\n\nconst monitoringDevices = {};\nconst allowedDomains = ['sensor', 'binary_sensor', 'climate', 'light', 'switch', 'cover', 'lock', 'device_tracker'];\n\nstates.forEach(entity => {\n  const domain = entity.entity_id.split('.')[0];\n  \n  if (allowedDomains.includes(domain)) {\n    const friendlyName = entity.attributes.friendly_name || entity.entity_id;\n    \n    monitoringDevices[entity.entity_id] = {\n      name: friendlyName,\n      state: entity.state,\n      domain: domain,\n      unit: entity.attributes.unit_of_measurement || '',\n      device_class: entity.attributes.device_class || '',\n      last_changed: entity.last_changed\n    };\n  }\n});\n\nreturn [{ json: { \n  devices: monitoringDevices,\n  device_count: Object.keys(monitoringDevices).length,\n  user_text: userData.text,\n  chat_id: userData.chat_id,\n  user_name: userData.user_name\n}}];"
      },
      "name": "Filter: Monitoring Devices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 520],
      "id": "filter-devices-monitor",
      "notes": "Фильтрация устройств для мониторинга (sensors, climate, lights, etc)"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Check: System Commands').first().json.chat_id }}",
        "contextWindowLength": 10
      },
      "name": "Memory: Conversation Buffer",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [1340, 760],
      "id": "memory-buffer-monitor",
      "notes": "Память последних 10 сообщений диалога. Session = chat_id для персонализации"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ngw.devices.sberbank.ru:9443/api/v2/oauth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/x-www-form-urlencoded"
            },
            {
              "name": "RqUID",
              "value": "={{ $runIndex }}-{{ $now.toMillis() }}"
            },
            {
              "name": "Authorization",
              "value": "Basic YOUR_GIGACHAT_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "scope",
              "value": "GIGACHAT_API_PERS"
            }
          ]
        },
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "name": "GigaChat: Get OAuth Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 640],
      "id": "gigachat-oauth-monitor",
      "notes": "ЗАМЕНИТЕ: YOUR_GIGACHAT_AUTH_TOKEN (base64 от client_id:client_secret). Получите на https://developers.sber.ru/studio/workspaces"
    },
    {
      "parameters": {
        "model": "GigaChat",
        "options": {
          "baseURL": "https://gigachat.devices.sberbank.ru/api/v1",
          "temperature": 0.7,
          "maxTokens": 500
        },
        "requestOptions": {
          "headers": {
            "Authorization": "=Bearer {{ $('GigaChat: Get OAuth Token').first().json.access_token }}"
          }
        }
      },
      "name": "GigaChat: Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGeneric",
      "typeVersion": 1,
      "position": [1560, 520],
      "id": "gigachat-model-monitor",
      "notes": "HTTP Chat Model настроенный для GigaChat API. ВАЖНО: используется Generic HTTP Chat Model"
    },
    {
      "parameters": {
        "name": "get_sensor_state",
        "description": "Получить текущее значение датчика (температура, влажность, энергия и т.д.). Возвращает текущее значение и единицу измерения.",
        "workflowId": "YOUR_WORKFLOW_ID_GET_SENSOR"
      },
      "name": "Tool: Get Sensor State",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 880],
      "id": "tool-sensor-monitor",
      "notes": "СОЗДАЙТЕ workflow для получения состояния сенсора. Входные параметры: entity_id"
    },
    {
      "parameters": {
        "name": "get_device_list",
        "description": "Получить список всех устройств определенного типа (lights, sensors, climate). Параметр: domain (light, sensor, climate, binary_sensor)",
        "workflowId": "YOUR_WORKFLOW_ID_GET_LIST"
      },
      "name": "Tool: Get Device List",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1000],
      "id": "tool-list-monitor",
      "notes": "СОЗДАЙТЕ workflow для получения списка устройств по domain"
    },
    {
      "parameters": {
        "name": "get_history",
        "description": "Получить историю изменений состояния устройства за последние часы. Параметры: entity_id, hours (по умолчанию 24)",
        "workflowId": "YOUR_WORKFLOW_ID_GET_HISTORY"
      },
      "name": "Tool: Get History",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [1560, 1120],
      "id": "tool-history-monitor",
      "notes": "СОЗДАЙТЕ workflow для получения истории из HA"
    },
    {
      "parameters": {
        "text": "={{ $('Filter: Monitoring Devices').first().json.user_text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Ты персональный ассистент умного дома. Сегодня {{ $now.format('cccc, d MMMM yyyy, HH:mm', 'ru') }}.\n\nУ тебя есть доступ к следующим устройствам:\n{{ JSON.stringify($('Filter: Monitoring Devices').first().json.devices, null, 2) }}\n\nТвоя задача - отвечать на вопросы о состоянии дома:\n- Какая температура/влажность\n- Состояние датчиков\n- Какие устройства включены\n- История событий\n\nОтвечай КРАТКО и ПОНЯТНО. Используй русский язык. Если нужны данные устройства - используй доступные инструменты. Помни контекст диалога - пользователь может спросить 'а в спальне?' после вопроса о температуре.\n\nВажно: ты НЕ управляешь устройствами, только мониторишь и отвечаешь на вопросы."
        }
      },
      "name": "Agent: Home Monitor",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1780, 520],
      "id": "agent-monitor",
      "notes": "Langchain Agent с памятью для мониторинга дома"
    },
    {
      "parameters": {
        "chatId": "={{ $('Check: System Commands').first().json.chat_id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "name": "Telegram: Send Answer",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2000, 520],
      "id": "telegram-answer-monitor",
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot Personal"
        }
      }
    }
  ],
  "connections": {
    "Telegram: Trigger": {
      "main": [
        [
          {
            "node": "Check: System Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check: System Commands": {
      "main": [
        [
          {
            "node": "If: System Command?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: System Command?": {
      "main": [
        [
          {
            "node": "Telegram: Send System Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HA: Get All States",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HA: Get All States": {
      "main": [
        [
          {
            "node": "Filter: Monitoring Devices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter: Monitoring Devices": {
      "main": [
        [
          {
            "node": "GigaChat: Get OAuth Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat: Get OAuth Token": {
      "main": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memory: Conversation Buffer": {
      "ai_memory": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat: Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get Sensor State": {
      "ai_tool": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get Device List": {
      "ai_tool": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tool: Get History": {
      "ai_tool": [
        [
          {
            "node": "Agent: Home Monitor",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Agent: Home Monitor": {
      "main": [
        [
          {
            "node": "Telegram: Send Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-10-11T01:30:00.000Z",
      "updatedAt": "2025-10-11T01:30:00.000Z",
      "id": "ha-monitoring-gigachat",
      "name": "home-assistant"
    },
    {
      "createdAt": "2025-10-11T01:30:00.000Z",
      "updatedAt": "2025-10-11T01:30:00.000Z",
      "id": "gigachat-memory",
      "name": "gigachat"
    }
  ],
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "your-n8n-instance"
  },
  "versionId": "ha-monitor-gigachat-v1",
  "triggerCount": 1,
  "createdAt": "2025-10-11T01:30:00.000Z",
  "updatedAt": "2025-10-11T01:30:00.000Z"
}

