docs/integrations/n8n-voice-assistant-control-ollama.json
{
  "name": "🎤 Голосовой ассистент с управлением (Whisper + Ollama + HA Control)",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [240, 460],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const message = $input.item.json.message;\nconst voice = message?.voice;\nconst text = message?.text || '';\nconst chatId = message?.chat?.id;\nconst userName = message?.from?.first_name || 'Друг';\n\nif (!chatId) {\n  return [];\n}\n\n// Команды\nif (text === '/start' || text === '/help') {\n  return [{\n    json: {\n      isCommand: true,\n      chatId: chatId,\n      responseText: `👋 Привет, ${userName}!\\n\\n🎤 Я голосовой AI ассистент умного дома с управлением!\\n\\n*Что я умею:*\\n• Понимаю голосовые сообщения (Whisper)\\n• Отвечаю на вопросы (Ollama llama3.1:8b)\\n• Помню контекст диалога\\n• Анализирую датчики Home Assistant\\n• 🆕 УПРАВЛЯЮ УСТРОЙСТВАМИ!\\n\\n*Примеры команд:*\\n🎤 \"Включи свет в гостиной\"\\n🎤 \"Выключи кондиционер\"\\n🎤 \"Сделай поярче\"\\n🎤 \"Температуру на 22 градуса\"\\n\\n*Команды:*\\n/clear - очистить память`\n    }\n  }];\n}\n\nif (text === '/clear') {\n  return [{\n    json: {\n      isCommand: true,\n      chatId: chatId,\n      responseText: '🗑️ Память очищена!'\n    }\n  }];\n}\n\n// Голосовое сообщение\nif (voice && voice.file_id) {\n  return [{\n    json: {\n      isCommand: false,\n      isVoice: true,\n      chatId: chatId,\n      userName: userName,\n      fileId: voice.file_id\n    }\n  }];\n}\n\n// Текстовое сообщение\nif (text) {\n  return [{\n    json: {\n      isCommand: false,\n      isVoice: false,\n      chatId: chatId,\n      userName: userName,\n      userMessage: text\n    }\n  }];\n}\n\nreturn [];"
      },
      "id": "process-message",
      "name": "Process Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.isCommand ? 'command' : 'chat' }}",
              "rightValue": "command",
              "operator": {"type": "string", "operation": "equals"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-command",
      "name": "Is Command?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 460]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.responseText }}",
        "additionalFields": {"parse_mode": "Markdown"}
      },
      "id": "send-command",
      "name": "Send Command Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 340],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {"typeValidation": "strict"},
          "conditions": [
            {
              "leftValue": "={{ $json.isVoice }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "is-voice",
      "name": "Is Voice?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 580]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/botYOUR_BOT_TOKEN/getFile?file_id={{ $json.fileId }}",
        "options": {}
      },
      "id": "get-file-url",
      "name": "Get File Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 480]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/botYOUR_BOT_TOKEN/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "download-voice",
      "name": "Download Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 480]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://YOUR_WHISPER_IP:9000/transcribe",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio",
              "inputDataFieldName": "=data",
              "parameterType": "formBinaryData"
            }
          ]
        },
        "options": {}
      },
      "id": "whisper-transcribe",
      "name": "Whisper Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 480]
    },
    {
      "parameters": {
        "jsCode": "const whisperResponse = $input.item.json;\nconst processData = $('Process Message').item.json;\n\nreturn [{\n  json: {\n    chatId: processData.chatId,\n    userName: processData.userName,\n    userMessage: whisperResponse.text || 'Ошибка распознавания'\n  }\n}];"
      },
      "id": "extract-voice-text",
      "name": "Extract Voice Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 480]
    },
    {
      "parameters": {
        "resource": "state",
        "operation": "getAll"
      },
      "id": "get-ha-states",
      "name": "Get HA States",
      "type": "n8n-nodes-base.homeAssistant",
      "typeVersion": 1,
      "position": [1780, 680],
      "credentials": {
        "homeAssistantApi": {
          "id": "YOUR_HA_CREDENTIAL_ID",
          "name": "Home Assistant"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const processData = $('Process Message').item.json;\nlet userMessage, chatId, userName;\n\nif (processData.isVoice) {\n  const voiceData = $('Extract Voice Text').item.json;\n  userMessage = voiceData.userMessage;\n  chatId = voiceData.chatId;\n  userName = voiceData.userName;\n} else {\n  userMessage = processData.userMessage;\n  chatId = processData.chatId;\n  userName = processData.userName;\n}\n\nconst haItems = $input.all();\nlet allStates = [];\n\nfor (const item of haItems) {\n  if (Array.isArray(item.json)) {\n    allStates = allStates.concat(item.json);\n  } else if (item.json.entity_id) {\n    allStates.push(item.json);\n  }\n}\n\nif (allStates.length === 0) {\n  return [{\n    json: {\n      userMessage: userMessage,\n      chatId: chatId,\n      userName: userName,\n      devicesContext: 'Нет данных от Home Assistant',\n      controllableDevices: 'Нет доступных устройств',\n      totalDevices: 0,\n      currentTime: new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })\n    }\n  }];\n}\n\nconst relevantDomains = ['sensor', 'binary_sensor', 'climate', 'light', 'switch', 'weather', 'person'];\nconst controllableDomains = ['light', 'switch', 'climate', 'fan', 'cover'];\n\nconst filtered = allStates.filter(state => {\n  const domain = state.entity_id?.split('.')[0];\n  return domain && relevantDomains.includes(domain) && \n         state.state !== 'unavailable' && \n         state.state !== 'unknown';\n});\n\nconst controllable = allStates.filter(state => {\n  const domain = state.entity_id?.split('.')[0];\n  return domain && controllableDomains.includes(domain) &&\n         state.state !== 'unavailable';\n});\n\nconst devicesList = filtered.slice(0, 40).map(state => {\n  const name = state.attributes?.friendly_name || state.entity_id;\n  const value = state.state;\n  const unit = state.attributes?.unit_of_measurement || '';\n  return `${name}: ${value}${unit ? ' ' + unit : ''}`;\n}).join('\\n');\n\nconst controllableList = controllable.slice(0, 30).map(state => {\n  const name = state.attributes?.friendly_name || state.entity_id;\n  const domain = state.entity_id.split('.')[0];\n  return `${name} (${state.entity_id}) [${domain}]`;\n}).join('\\n');\n\nreturn [{\n  json: {\n    userMessage: userMessage,\n    chatId: chatId,\n    userName: userName,\n    devicesContext: devicesList || 'Нет доступных устройств',\n    controllableDevices: controllableList || 'Нет управляемых устройств',\n    totalDevices: filtered.length,\n    currentTime: new Date().toLocaleString('ru-RU', { timeZone: 'Europe/Moscow' })\n  }\n}];"
      },
      "id": "prepare-context",
      "name": "Prepare AI Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 680]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Prepare AI Context').item.json.userMessage }}",
        "options": {
          "systemMessage": "Ты голосовой AI ассистент умного дома пользователя {{ $('Prepare AI Context').item.json.userName }} с возможностью управления устройствами.\n\n📅 ТЕКУЩЕЕ ВРЕМЯ: {{ $('Prepare AI Context').item.json.currentTime }}\n\n🏠 СОСТОЯНИЕ УСТРОЙСТВ ({{ $('Prepare AI Context').item.json.totalDevices }}):\n{{ $('Prepare AI Context').item.json.devicesContext }}\n\n🎛️ УПРАВЛЯЕМЫЕ УСТРОЙСТВА (ТОЛЬКО ЭТИ!):\n{{ $('Prepare AI Context').item.json.controllableDevices }}\n\n🔧 УПРАВЛЕНИЕ УСТРОЙСТВАМИ:\nТы можешь управлять ТОЛЬКО устройствами из списка выше через Tools:\n\n1. **control_device** - включить/выключить\n   - Используй ТОЧНЫЙ entity_id из списка выше (в скобках)\n   - Пример: control_device({\"entity_id\": \"switch.sonoff_100169e371_1\", \"action\": \"on\"})\n\n2. **set_device_value** - установить яркость/температуру\n   - Пример: set_device_value({\"entity_id\": \"light.athom_ws2812b\", \"attribute\": \"brightness\", \"value\": 200})\n\n3. **call_service** - запустить сценарий\n   - Пример: call_service({\"service\": \"scene.turn_on\", \"entity_id\": \"scene.tv\"})\n\n📋 КРИТИЧЕСКИ ВАЖНО:\n1. ВСЕГДА используй entity_id ИЗ СПИСКА ВЫШЕ! Не придумывай свои!\n2. Если пользователь говорит \"включи свет в гостиной\" → найди в списке устройство с \"living\" или \"гостиной\" в названии\n3. Если не нашёл - скажи \"Не нашёл устройство 'X', доступны: ...\" и перечисли похожие\n4. ВСЕГДА подтверждай: \"✅ Включил [название] (entity_id)\"\n5. Отвечай КРАТКО (2-3 предложения)\n6. Используй эмодзи (💡 🌡️ ⚡)\n\n💬 ПРИМЕРЫ:\n- \"Включи люстру\" → ищи \"люстр\" в списке → находишь switch.sonoff_100169e371_1 (Люстры) → control_device({\"entity_id\": \"switch.sonoff_100169e371_1\", \"action\": \"on\"}) → \"✅ Включил Люстры\"\n- \"Выключи свет на фасаде\" → находишь switch.sonoff_100169e371_3 (Фасад) → control_device({\"entity_id\": \"switch.sonoff_100169e371_3\", \"action\": \"off\"}) → \"✅ Выключил Фасад\"\n- \"Температуру 22 в спальне\" → находишь climate.bedroom_termostat_2 → set_device_value({\"entity_id\": \"climate.bedroom_termostat_2\", \"attribute\": \"temperature\", \"value\": 22}) → \"✅ Установил 22°C в спальне\""
        }
      },
      "id": "ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [2220, 680]
    },
    {
      "parameters": {
        "model": "llama3.1:8b",
        "options": {
          "baseURL": "http://YOUR_OLLAMA_IP:11434",
          "temperature": 0.7
        }
      },
      "id": "ollama-model",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [2440, 800]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Prepare AI Context').item.json.chatId }}",
        "contextWindowLength": 10
      },
      "id": "memory-buffer",
      "name": "Memory Buffer",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [2440, 920]
    },
    {
      "parameters": {
        "name": "control_device",
        "description": "Control Home Assistant devices (turn on/off/toggle). Use this for lights, switches, climate, fans. Parameters: entity_id (required, e.g. 'light.living_room'), action ('on' | 'off' | 'toggle'). Returns success message.",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"entity_id\": \"light.living_room\",\n  \"action\": \"on\"\n}",
        "code": "// Параметры приходят напрямую как переменные\nif (!entity_id) {\n  return { error: 'entity_id is required' };\n}\n\nconst domain = entity_id.split('.')[0];\nconst actionToUse = action || 'toggle';\nconst service = actionToUse === 'on' ? 'turn_on' : (actionToUse === 'off' ? 'turn_off' : 'toggle');\nconst url = `http://YOUR_HA_IP:8123/api/services/${domain}/${service}`;\n\nconst response = await $http.request({\n  method: 'POST',\n  url: url,\n  headers: {\n    'Authorization': 'Bearer YOUR_HA_N8N_TOKEN',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify({ entity_id: entity_id })\n});\n\nreturn {\n  success: true,\n  message: `Device ${entity_id} ${actionToUse === 'on' ? 'turned on' : (actionToUse === 'off' ? 'turned off' : 'toggled')}`\n};"
      },
      "id": "tool-control-device",
      "name": "Tool: Control Device",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [2440, 1040]
    },
    {
      "parameters": {
        "name": "set_device_value",
        "description": "Set values for Home Assistant devices. Use for brightness (0-255 for lights), temperature (for climate). Parameters: entity_id, attribute ('brightness' | 'temperature' | 'hvac_mode'), value (number or string). Returns success message.",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"entity_id\": \"light.living_room\",\n  \"attribute\": \"brightness\",\n  \"value\": 200\n}",
        "code": "// Параметры приходят напрямую как переменные\nif (!entity_id || !attribute || value === undefined) {\n  return { error: 'entity_id, attribute, and value are required' };\n}\n\nconst domain = entity_id.split('.')[0];\nlet service = '';\nlet serviceData = { entity_id: entity_id };\n\nif (domain === 'light' && attribute === 'brightness') {\n  service = 'light/turn_on';\n  serviceData.brightness = parseInt(value);\n} else if (domain === 'climate' && attribute === 'temperature') {\n  service = 'climate/set_temperature';\n  serviceData.temperature = parseFloat(value);\n} else if (domain === 'climate' && attribute === 'hvac_mode') {\n  service = 'climate/set_hvac_mode';\n  serviceData.hvac_mode = value;\n} else {\n  return { error: `Unknown attribute ${attribute} for domain ${domain}` };\n}\n\nconst url = `http://YOUR_HA_IP:8123/api/services/${service}`;\n\nconst response = await $http.request({\n  method: 'POST',\n  url: url,\n  headers: {\n    'Authorization': 'Bearer YOUR_HA_N8N_TOKEN',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(serviceData)\n});\n\nreturn {\n  success: true,\n  message: `Value ${attribute} set to ${value} for ${entity_id}`\n};"
      },
      "id": "tool-set-value",
      "name": "Tool: Set Device Value",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [2440, 1160]
    },
    {
      "parameters": {
        "name": "call_service",
        "description": "Call any Home Assistant service (scenes, scripts). Parameters: service (required, e.g. 'scene.turn_on'), entity_id (optional, target entity). Returns success message.",
        "specifyInputSchema": true,
        "jsonSchemaExample": "{\n  \"service\": \"scene.turn_on\",\n  \"entity_id\": \"scene.tv\"\n}",
        "code": "// Параметры приходят напрямую как переменные\nif (!service) {\n  return { error: 'service is required' };\n}\n\nconst serviceData = {};\nif (entity_id) {\n  serviceData.entity_id = entity_id;\n}\n\nconst url = `http://YOUR_HA_IP:8123/api/services/${service.replace('.', '/')}`;\n\nconst response = await $http.request({\n  method: 'POST',\n  url: url,\n  headers: {\n    'Authorization': 'Bearer YOUR_HA_N8N_TOKEN',\n    'Content-Type': 'application/json'\n  },\n  body: JSON.stringify(serviceData)\n});\n\nreturn {\n  success: true,\n  message: `Service ${service} called successfully`\n};"
      },
      "id": "tool-call-service",
      "name": "Tool: Call Service",
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1,
      "position": [2440, 1280]
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $input.item.json;\nconst chatId = $('Prepare AI Context').item.json.chatId;\n\nlet responseText = '';\n\nif (agentResponse.output) {\n  responseText = agentResponse.output;\n} else if (agentResponse.text) {\n  responseText = agentResponse.text;\n} else if (typeof agentResponse === 'string') {\n  responseText = agentResponse;\n} else {\n  responseText = '❌ Ошибка: не удалось получить ответ от AI';\n}\n\nreturn [{\n  json: {\n    chatId: chatId,\n    responseText: responseText\n  }\n}];"
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 680]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.responseText }}"
      },
      "id": "send-response",
      "name": "Send AI Response",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2660, 680],
      "credentials": {
        "telegramApi": {
          "id": "YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {"main": [[{"node": "Process Message", "type": "main", "index": 0}]]},
    "Process Message": {"main": [[{"node": "Is Command?", "type": "main", "index": 0}]]},
    "Is Command?": {"main": [[{"node": "Send Command Response", "type": "main", "index": 0}],[{"node": "Is Voice?", "type": "main", "index": 0}]]},
    "Is Voice?": {"main": [[{"node": "Get File Path", "type": "main", "index": 0}],[{"node": "Get HA States", "type": "main", "index": 0}]]},
    "Get File Path": {"main": [[{"node": "Download Voice", "type": "main", "index": 0}]]},
    "Download Voice": {"main": [[{"node": "Whisper Transcribe", "type": "main", "index": 0}]]},
    "Whisper Transcribe": {"main": [[{"node": "Extract Voice Text", "type": "main", "index": 0}]]},
    "Extract Voice Text": {"main": [[{"node": "Get HA States", "type": "main", "index": 0}]]},
    "Get HA States": {"main": [[{"node": "Prepare AI Context", "type": "main", "index": 0}]]},
    "Prepare AI Context": {"main": [[{"node": "AI Agent", "type": "main", "index": 0}]]},
    "Ollama Model": {"ai_languageModel": [[{"node": "AI Agent", "type": "ai_languageModel", "index": 0}]]},
    "Memory Buffer": {"ai_memory": [[{"node": "AI Agent", "type": "ai_memory", "index": 0}]]},
    "Tool: Control Device": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]},
    "Tool: Set Device Value": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]},
    "Tool: Call Service": {"ai_tool": [[{"node": "AI Agent", "type": "ai_tool", "index": 0}]]},
    "AI Agent": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]},
    "Format Response": {"main": [[{"node": "Send AI Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": []
}
